.button {
	padding: 7px 18px;
	color: $font-color;
	background-color: $secondary-color;

	&__primary {
		background-color: $primary-color;
		color: $font-dark-color;
	}

	&__dark {
		background-color: $dark-color;
		color: $font-color;
	}

	&__simple {
		background-color: transparent;
		color: $font-dark-color2;
		padding: 0;
	}

	&__large {
		width: 170px;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 16px;
		line-height: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__square {
		padding: 11px 9px;
	}

	&__small {
		width: 160px;
		font-size: 16px;
		line-height: 18px;
		padding-top: 3px;
		padding-bottom: 3px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__active {
		background-color: $primary-color;
		color: $font-dark-color;
	}
}
