.table {
	&__body {
		&__row {
			background-color: $bg-secondary-color;

			&:first-child {
				border-top: 4px solid $bg-primary-color;
			}

			&:not(:last-child) {
				border-bottom: 5px solid $bg-primary-color;
			}

			&.border-bottom-none {
				border-bottom: none;
			}

			&:hover {
				background-color: $primary-light-color;
				border-image-slice: 1;
				border-image-source: $gradient-board;
			}

			td {
				padding: 18px 11px;
			}

			&__arrow {
				text-align: center;
				svg {
					width: 11px;
					height: 11px;
				}
			}
		}
	}

	&.table__small {
		.table__body {
			&__row {
				&:first-child {
					td {
						border-top: 2px solid $bg-primary-color;
					}
				}

				&:not(:last-child) {
					td {
						border-bottom: 3px solid $bg-primary-color;
					}
				}

				td {
					padding: 4px 11px;
				}
			}
		}
	}
}
