// Background colors //
$bg-primary-color: #11174a;
$bg-secondary-color: #ffffff08;
$bg-navigation-color: #d9d9d917;
$bg-input-color: #ffffff1a;
$bg-table-head: #ffbf0729;

// Theme colors //
$primary-color: #ffbf47;
$primary-light-color: rgba(#ffbf47, 0.6);
$secondary-color: #ffffff21;
$dark-color: #11174a;

$white: #ffffff;
$danger: #f10e0e;
$warning: #ff7a00;
$success: #5cb85c;

$font-color: #ffffff;
$font-dark-color: #07063b;
$font-dark-color2: #0f0f0f;

$table-row-shadow: #ffffff0f;

// spacing //
$HF-vertical-padding: 15px;
$HF-horizontal-padding: 24px;
$footer-height: 115px;
$header-height: 115px;
$dashboard-container-height: calc(
	100vh - calc($header-height + $footer-height)
);
$dashboard-container-horizontal-padding: 104px;
$dashboard-container-vertical-padding: 64px;
$expander-margin-top: 27px;

$gradient-board: linear-gradient(
	to left,
	$secondary-color,
	$primary-color,
	$secondary-color
);
