.input-box {
	background-color: $bg-input-color;
	display: flex;
	align-items: center;
	padding: 0 10px;
	border: 1px solid transparent;

	&.ph-0 {
		padding-left: 0;
		padding-right: 0;
	}

	svg {
		fill: none;
		width: 16px;
		height: 19px;
		min-width: 16px;
	}

	input,
	select {
		padding: 6px 14px;
		font-size: 16px;
		color: $font-color;
		width: 100%;
		&::placeholder {
			color: $font-color;
		}
	}

	&__small {
		input {
			padding: 3px 14px;
			font-size: 14px;
		}
	}
}

.theme-white {
	.input-box {
		background-color: $white;

		input,
		select {
			color: $font-dark-color2;
			font-size: 14px;
			font-weight: 400;
			&::placeholder {
				color: $font-dark-color2;
			}
		}
	}
}

.error {
	color: $danger;
	font-size: 16px;
	line-height: 18.75px;
	margin-top: 4px;
}
.error-border {
	border-color: $danger;
}
